In [2]:
import pandas as pd

from sklearn.linear_model import LinearRegression

In [3]:
import numpy as np

In [17]:
df = pd.read_csv('C:/Users/DeLL/Desktop/Snigdha/NLP/homrprices2.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [18]:
#Handling missing values

In [19]:
b = df['bedrooms'].median()
b

4.0

In [22]:
df.fillna(b, inplace = True)

In [23]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [25]:
X = df.drop('price', axis = 1)
y = df['price']

In [26]:
model = LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
model.predict([[3000,3,40]])

array([498408.25158031])