In [6]:
import surprise
from surprise import Dataset
from surprise import KNNWithMeans
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
rating = pd.read_csv('D:/ML Datasets/rating.csv')
rating.head()

   User ID  Movie ID  Rating
0        1         1       5
1        1         2       6
2        1         3       7
3        1         4       4
4        1         5       3

In [19]:
rating_pivot = rating.pivot_table(index = 'User ID', columns = 'Movie ID', values = 'Rating' )
rating_pivot

Movie ID    1    2    3    4    5    6
User ID
1         5.0  6.0  7.0  4.0  3.0  NaN
2         4.0  NaN  5.0  NaN  5.0  4.0
3         NaN  3.0  4.0  1.0  1.0  NaN
4         7.0  4.0  3.0  6.0  NaN  4.0
5         1.0  NaN  3.0  2.0  2.0  5.0

In [7]:
reader = Reader(rating_scale=(1,10))

data = Dataset.load_from_df(rating[['User ID', 'Movie ID', 'Rating']], reader)

In [15]:
[trainset, testset] = train_test_split(data, test_size=0.15, shuffle=True)

recom = KNNWithMeans(k = 50, sim_options={'name':'cosine', 'user-based': True})

recom.fit(data.build_full_trainset())      #using full training set and not doing

test_pred = recom.test(testset)
RMSE = accuracy.rmse(test_pred)
print('RMSE=', RMSE)

Computing the cosine similarity matrix...
Done computing similarity matrix.
RMSE: 1.1600
RMSE= 1.1600198280043401

In [17]:
pre = recom.predict(1,6)
print('The rating value for user 1 movie 6 is: ', pre[3])

The rating value for user 1 movie 6 is:  5.394185729496399

In [18]:
pre = recom.predict(2,2)
print('The rating value for user 2 movie 2 is: ', pre[3])

pre = recom.predict(2,4)
print('The rating value for user 2 movie 4 is: ', pre[3])

pre = recom.predict(3,1)
print('The rating value for user 3 movie 1 is: ', pre[3])

pre = recom.predict(3,4)
print('The rating value for user 3 movie 4 is: ', pre[3])

pre = recom.predict(4,5)
print('The rating value for user 4 movie 5 is: ', pre[3])

pre = recom.predict(5,2)
print('The rating value for user 5 movie 2 is: ', pre[3])

The rating value for user 2 movie 2 is:  4.817930889083921
The rating value for user 2 movie 4 is:  4.095496050876971
The rating value for user 3 movie 1 is:  2.182836935492127
The rating value for user 3 movie 4 is:  1.7370594242503914
The rating value for user 4 movie 5 is:  3.9781864004198617
The rating value for user 5 movie 2 is:  3.0035648451555907

## Book Dataset

In [20]:
book = pd.read_csv('C:/Users/DeLL/OneDrive/ML Datasets/book_recom.csv')
book.head()

,userID,ISBN,bookRating,bookTitle,totalRatingCount,Location
0,276725,034545104X,0,Flesh Tones: A Novel,60,"tyler, texas, usa"
1,2313,034545104X,5,Flesh Tones: A Novel,60,"cincinnati, ohio, usa"
2,6543,034545104X,0,Flesh Tones: A Novel,60,"strafford, missouri, usa"
3,8680,034545104X,5,Flesh Tones: A Novel,60,"st. charles county, missouri, usa"
4,10314,034545104X,9,Flesh Tones: A Novel,60,"beaverton, oregon, usa"

In [21]:
book = book[['userID', 'bookTitle', 'bookRating']]

In [27]:
book_pivot = book.pivot(index = 'bookTitle', columns='userID', values = 'bookRating')
book_pivot.fillna(0, inplace=True)
book_pivot.head()

userID,14,23,26,51,67,99,135,243,254,256,...,278483,278514,278535,278552,278582,278633,278740,278769,278773,278843
bookTitle,,,,,,,,,,,,,,,,,,,,,
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"A Child Called \It\"": One Child's Courage to Survive""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Cold Heart: An Alex Delaware Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Kiss of Shadows (Meredith Gentry Novels (Paperback)),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Man in Full,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import sklearn

In [29]:
book_data_matrix = csr_matrix(book_pivot.values)
book_data_matrix

<198x11337 sparse matrix of type '<class 'numpy.float64'>'
	with 11110 stored elements in Compressed Sparse Row format>

In [30]:
model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
model_knn.fit(book_data_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [31]:
query_index=0  #1st book
distances, indices = model_knn.kneighbors(
                     book_pivot.iloc[query_index, :].values.reshape(1,-1),
                     n_neighbors=6)

In [32]:
# display the distances
distances

array([[0.        , 0.85554748, 0.89964868, 0.90149976, 0.90925394,
        0.92285717]])

In [33]:
# display respective book indices
indices

array([[  0, 110,  12, 188,  26,  78]], dtype=int64)

In [50]:
book_pivot.index[indices][0]

array(['1st to Die: A Novel', 'Roses Are Red (Alex Cross Novels)',
       'Along Came a Spider (Alex Cross Novels)', 'Violets Are Blue',
       'Cat &amp; Mouse (Alex Cross Novels)',
       'Jack &amp; Jill (Alex Cross Novels)'], dtype=object)

In [47]:
print('Recommendation for {0}\n'.format(book_pivot.index[query_index]))
for i in indices.flatten()[1:]:
    print(book_pivot.index[i])

Recommendation for 1st to Die: A Novel

Roses Are Red (Alex Cross Novels)
Along Came a Spider (Alex Cross Novels)
Violets Are Blue
Cat &amp; Mouse (Alex Cross Novels)
Jack &amp; Jill (Alex Cross Novels)